<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .color-red { color: red; }
      .color-blue { color: blue; }
      .is-loading { background: red; }
    </style>
  </head>
  <body>
    <div id="root">
      <h2>All Tasks</h2>
      <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
      </ul>

      <h2>Incomplete Tasks</h2>
      <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: '#root',
        data: {
          tasks: [
            { description: "Go to the store", completed: true },
            { description: "Finish screencast", completed: true },
            { description: "Make donation", completed: false },
            { description: "Clear inbox", completed: false },
            { description: "Make dinner", completed: false },
            { description: "Clean room", completed: true }
          ]
        },

        computed: {
          incompleteTasks() {
            return this.tasks.filter(task => ! task.completed);
            // this.tasks.filter(function(task) {
            //   return ! task.completed;
            // })
          }
        }
      })
    </script>
  </body>
</html>
